body{
    text-align: center;
    background-color: rgb(243, 230, 243);
}
.embed{
    text-align: center;
}
.campusLIFEmainHEADING{
    text-align: center;
}
#CAMPUSlife img{
    height: 500px;
}
#facilites{
    text-align:center;
}